@charset "utf-8";
/* CSS Document */
form{
	margin: 0 auto;
	width: 400px;
	height: 600px;
	background:radial-gradient(red,blue,green);
	padding: 20px;
}
input{
	width: 250px;
	height: 30px;
	margin: 10px;
	box-shadow: inset 0 0 10px ;
	border: solid#8B298A
}